[submodule "dudo_submodules"]
	path = dudo_submodules
	url = https://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@github.com/ajaytitus1386/dudo_submodules.git
