[submodule "dudo_submodules"]
	path = dudo_submodules
	url = https://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@github.com/ajaytitus1386/dudo_submodules.git
